body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Dela Gothic One', cursive;  

  /* border: black 1px solid; */
}

button{
  outline: none;
  border-radius: 10px;
  font-family: 'Dela Gothic One', cursive;  
  border-width: 3px;
}

p{
  margin: 10px;
}

#heading{
  margin: -5px 0 5px 0;
  color: darkblue;
  /* border: black 1px solid; */
}

#demoLabel{
  margin: -15px 0 10px 0;
  color: darkblue;
  /* border: black 1px solid; */
}

#settingsDiv{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: -25px; */
  gap: 5px;
  /* border: black 1px solid; */
}

#modeDiv{
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  width: 400px;
  height: 35px;
  /* border: black 1px solid; */

}

#compMode{
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content:  center;
  gap: 5px;
  /* border: black 1px solid; */

}

#levelSelectDiv{
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  width: 400px;
  height: 35px;
  margin-bottom: 5px;
  /* border: black 1px solid; */

}

#signSelectDiv{
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  width: 400px;
  height: 35px;
  /* border: black 1px solid; */

}

#vsCompBtn{
  background-color: aquamarine;
}

#medBtn{
  background-color: aquamarine;
}

#xBtn{
  background-color: aquamarine;
}

#message{
  display:none;
  font-size: 25px;
  color: darkblue;

  /* margin: 10px; */
  /* border: black 1px solid; */

}

#gameBoard{
  /* background-color:aquamarine; */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 380px;
  /* border: black 1px solid; */

}

#boardDiv{
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  background-color: black;
}

.cell{
  background-color: aquamarine;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  border: black 1px solid;

}

#replayBtnDiv{
  display:none;
  margin-top: 10px; 
}

#backToDemoDiv{
  display:none;
  margin-top: 5px; 
}

#backToDemoBtn{
  width: 235px;
  height: 35px;
}

#beginBtnDiv{
  margin-top: 5px; 
}

#replayBtn{
  margin-top: -5px; 
  width: 235px;
  height: 35px;
}

#beginBtn{
  width: 235px;
  height: 70px;
  font-size: 25px;
  border-radius: 10px;

}

.winCell{
  color:coral;
  text-shadow: 2px 2px black;
  background-color: palegreen;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}

#credits{
  margin: 30px 0 30px 0;
  text-align: center;
  font-family: 'Courgette', cursive;
  margin-top: 100px;
}